.header h1{
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_Lr1uWe2DTm3PZiRkxCj8bJxylKdNoultnVXmT_qhfWSfgJZL);
  text-align: center;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template: 150px, 150px, 150px / 150px, 150px;
  grid-column-gap: 15px;
  grid-row-gap: 70px;
  justify-content: center;
  grid-template-areas: "A B C"
                       "D E F"
                       "G H I";
}

.image-grid div:nth-child(1) {
  grid-area: A;
background-image: url(watermelon1.jpg);
}
.image-grid div:nth-child(2) {
  grid-area: B;
background-image: url(watermelon2.jpg);
}
.image-grid div:nth-child(3) {
  grid-area: C;
background-image: url(watermelon3.jpg);
}
.image-grid div:nth-child(4) {
  grid-area: D;
background-image: url(watermelon4.jpg);
}
.image-grid div:nth-child(5) {
  grid-area: E;
background-image: url(watermelon5.jpg);
}
.image-grid div:nth-child(6) {
  grid-area: F;
background-image: url(watermelon6.jpg);
}
.container > h1 {
  text-align: center;
  margin-bottom: 70px;
}

.image-grid div {
  background-image: url('https://www.thoughtco.com/thmb/6nxun6L3sYv1GIAHovgvOgXmLKc=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/socrates-greece-athens-546975617-589b585e3df78c47586efb7d.jpg');
  background-position: 50% 50%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: transform .5s;
}

.image-grid div:hover {
  transform: scale(1.1);
}

.image-grid p {
  margin-top: 160px;
  text-align: center;
  padding: 3px;
  color: grey;
}
.list{

  justify-content: center;
}
.footer p{
  justify-content: center;
  text-align: center;
}
