.header h1{
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_Lr1uWe2DTm3PZiRkxCj8bJxylKdNoultnVXmT_qhfWSfgJZL);
  text-align: center;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template: 300px, 300px, 300px / 300px, 300px;
  grid-column-gap: 15px;
  grid-row-gap: 70px;
  justify-content: center;
  grid-template-areas: "A B C"
                       "D E F"
                       "G H I";
}

.image-grid div:nth-child(1) {
  grid-area: A;
background-image: url(watermelon1.jpg);
width: 150px;
height: 150px;
}
.image-grid div:nth-child(2) {
  grid-area: B;
  width: 150px;
  height: 150px;
background-image: url(watermelon2.jpg);
}
.image-grid div:nth-child(3) {
  grid-area: C;
  width: 150px;
  height: 150px;
background-image: url(watermelon3.jpg);
}
.image-grid div:nth-child(4) {
  grid-area: D;
  width: 150px;
  height: 150px;
background-image: url(watermelon4.jpg);
}
.image-grid div:nth-child(5) {
  grid-area: E;
  width: 150px;
  height: 150px;
background-image: url(watermelon5.jpg);
}
.image-grid div:nth-child(6) {
  grid-area: F;
  width: 150px;
  height: 150px;
background-image: url(watermelon6.jpg);
}
.container > h1 {
  text-align: center;
  margin-bottom: 70px;
}

.image-grid div {
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: transform .5s;
}

.image-grid div:hover {
  transform: scale(1.1);
}


}
.list{

  justify-content: center;
}
.footer p{
  justify-content: center;
  text-align: center;
}
